<%- include('./partials/header') %>

<style>
    body {
        background-image: url('https://i.imgur.com/gdrVmhC.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

<div style="text-align: center;">
    <h2> Social Media By Madridstas for Madridstas </h2>

    <button type="button" class="login-button">Log In</button>
</div>

<%- include('./partials/footer') %>
<%- include('./partials/header') %>

<h2>Home Page</h2>

<%- include('./partials/footer') %>